body{
    background-color: white;
    .web{
        header{ padding: 0px;
            .navbar{ height: 60px;
                .header-nav{ height: inherit;;
                    .nav-wrapper { height: inherit;
                        .header-logo{ height: inherit; line-height: 60px; margin: 0px;
                            a{ font-size: 20px;}
                        }
                        .header-icons{ height: inherit; line-height: 60px; margin-right: 25px;
                            a{ height: inherit; line-height: inherit; font-size: 13px;
                                i{ font-size: 18px; height: inherit; line-height: inherit; margin-right: 5px; }
                            }
                        }
                    }
                } 
            }
        }
        main{ padding: 0px;
       
        }
    }
}
